<div id="about-them" class="mt-5 pt-5">
	<div class="container">
		<h2 class="ml-3 mb-5 card-title title-shadow text-uppercase font-weight-bold">
			<span class="title-content font-medium">On parle d'eux</span>
		</h2>
		<div class="d-flex justify-content-center d-none d-sm-block d-md-none">
			<div class="swiper-container pt-5 pb-5 ">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<div class="d-flex justify-content-around flex-wrap py-5 ">
							<div class="zoom-parent" onclick="">
								<a href="#"><img class="mb-4 zoom-child" src="https://picsum.photos/seed/4/320/400" alt=""></a>
							</div>
						</div>
					</div>
				</div>
				<div class="swiper-pagination"></div>
			</div>
		</div>
		<div class="d-none d-md-block">
			<div class="d-flex justify-content-around flex-wrap py-5 ">
				<div class="zoom-parent" onclick="">
					<a href="#"><img class="mb-4 zoom-child" src="https://picsum.photos/seed/4/320/400" alt=""></a>
				</div>
				<div class="zoom-parent" onclick="">
					<a href="#"><img class="mb-4 zoom-child" src="https://picsum.photos/seed/5/320/400" alt=""></a>
				</div>
				<div class="zoom-parent" onclick="">
					<a href="#"><img class="zoom-child" src="https://picsum.photos/seed/6/320/400" alt=""></a>
				</div>
			</div>
		</div>
	</div>
</div>
