<div id='presentation-homepage' class="presentation">
	<div class="container presentation-bloc mt-5 mb-n5 ">
		<h2 class="ml-3 mb-5 card-title title-shadow text-uppercase font-medium">
			<span class="title-content">Arts d'éko c'est quoi ?
			</span>
		</h2>
		<div class="row">
			<p class="col-md-6 mt-5 mb-5 card-text font-light text-block text-justify ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla a elementum magna. Curabitur ullamcorper mollis accumsan. Sed a ante accumsan nibh congue consequat. Proin vehicula commodo dictum. Pellentesque egestas nisl a placerat semper. Suspendisse consequat vitae erat ac auctor. Vivamus sed commodo ipsum, vitae molestie est. Vestibulum at auctor lacus, et scelerisque purus. Ut pretium turpis sit amet ligula ultricies consequat. Vestibulum suscipit urna eu quam volutpat volutpat. Quisque eget arcu tellus. Nullam iaculis diam nec ex efficitur dignissim. Proin a imperdiet lectus, non lobortis sem. Curabitur condimentum condimentum tincidunt. Sed eu urna et tellus porttitor auctor. Duis vitae ultricies lectus. Interdum et malesuada fames ac ante ipsum primis in faucibus. In sed eros vehicula, sagittis mi a, tristique urna. Nunc posuere arcu nec lorem pulvinar auctor.</p>
			<div class="col-md-4 mb-5 mt-5 offset-md-2">
				<img class="img-fluid mb-5" src="https://picsum.photos/400/350?random=1">
			</div>
		</div>
	</div>
</div>