<div id='presentation-homepage' class="presentation">
	<div class="container presentation-bloc mt-5 mb-n5 ">
		<h2 class="ml-3 mb-5 rounded-0 card-title title-shadow text-uppercase font-medium">
			<span class="title-content">Arts d'éko c'est quoi ?
			</span>
		</h2>
		<div class="row">
			<p class="col-md-6 mt-5 mb-5 rounded-0 card-text font-light text-block text-justify ">
				{{ presentation.description|raw }}
			</p>
			<div class="col-md-4 mb-5 mt-5 offset-md-2">
				<img class="img-fluid" src="/uploads/images/users/{{ presentation.picture }}"  >
				<p class="mb-5">Crédit photo: {{ presentation.copyright }}</p>
			</div>
		</div>
	</div>
</div>
