<div class="skew-line-title">
    <div class="container-fluid d-flex flex-column align-items-center justify-content-center bloc-title ">
        <h1 class="main-title font-bold white-title pt-5 mb-2 text-center text-uppercase"><strong>Arts</strong> D'Éko</h1>
        <h2 class="secondary-title white-title pb-5 font-bold text-center text-uppercase">
            Association de jeunes talents <br>
        engagé·e·s</h2>
    </div>
</div>
