{% extends 'base.html.twig' %}
{% block title %}
    {{ parent() }} - Home
{% endblock %}
{% block body %}
    <div class="memphis-background">
    {% include 'home/_home_title.html.twig' %}
    {% include 'home/_home_artists.html.twig' %}
    {% include 'home/_home_presentation.html.twig' %}
    {% include 'home/_home_event.html.twig' %}
    {% include 'home/_home_articles.html.twig' %}
    {% include 'home/_home_about_them.html.twig' %}
    {% include 'home/_contact.html.twig' %}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('toggle') }}
{% endblock %}
