{% extends 'base.html.twig' %}
{% form_theme requestForm 'bootstrap_4_layout.html.twig' %}
{% block title %}Reset your password
{% endblock %}

{% block body %}
<div class="container">
	<h1 class="mb-5 mt-5 font-weight-bold text-center text-uppercase">Réinitialisez
		<br>votre mot de passe
	</h1>
	<div class="col-xl-6 col-xs-8 rounded-0 card mx-auto mt-5">
		{% for flash_error in app.flashes('reset_password_error') %}
			<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
		{% endfor %}
		<div class="mb-2 mt-5">
			{{ form_start(requestForm) }}
			{{ form_row(requestForm.email) }}
		</div>
		<div>
			Entrez votre adresse e-mail et nous vous enverrons un lien pour réinitialiser votre mot de passe.
		</div>
		<button class="btn btn-outline-secondary rounded-0 text-uppercase mt-5 mb-5 mx-auto">ENVOYER</button>
		{{ form_end(requestForm) }}
	</div>
</div>
{% endblock %}
