{% extends 'base.html.twig' %}
{% form_theme resetForm 'bootstrap_4_layout.html.twig' %}
{% block title %}Reset
{% endblock %}

{% block body %}
	<div class="container mb-5">
		<h1 class="mb-5 mt-5 font-weight-bold text-center">Réinitialisez votre mot de passe</h1>
		{{ form_start(resetForm) }}
		{{ form_row(resetForm.plainPassword) }}
		<button class="btn mt-3">Réinitialisez</button>
		{{ form_end(resetForm) }}
	</div>
{% endblock %}
