<form method="post" action="{{ path('admin_delete_announcement', {'id': announcement.id}) }}"
      onsubmit="return confirm('Voulez-vous supprimer cette annonnce ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ announcement.id) }}">
    <button class="btn"><i class="far fa-trash-alt"></i> Supprimer</button>
</form>