{% extends 'base.html.twig' %}

{% block body %}
	<div class="memphis-background">
		<div class="container pt-5">
			<h2 class="title-shadow font-weight-bold text-uppercase">
				<span class="title-content">
					{% block head_title %}{% endblock %}
				</span>
			</h2>
			<div class="d-flex mt-5">
				<div class="d-flex flex-column align-items-end pr-5">
					<span class="avatar-picture ">
						{% block upload %}{% endblock %}
					</span>
				</div>
				<div class="d-flex flex-column">
					<div class="d-flex flex-column align-items-start">
						<div>
							{% block pseudo %}{% endblock %}
							<span>
								<p>
									{% block firstanme %}{% endblock %}
								</p>
								<p>
									{% block lastname %}{% endblock %}
								</p>
							</span>
						</div>
						<h4 class="title-shadow-grey text-uppercase color-{{ artist.disciplines[0].color }}"></h4>
						<span class="title-content">
							{% block discipline_form %}{% endblock %}
						</span>
					</div>
					<p>
						<i class="fas fa-map-marker-alt icon icon-localisation color-{{ artist.disciplines[0].color }}"></i>
						{% block zipcode_form %}{% endblock %}
					</p>
					<p>
						{% block description %}{% endblock %}
						{% block validate %}{% endblock %}
					</p>
					<p>
						{% block icon %}{% endblock %}
					</p>
				</div>
			</div>
		</div>
		{% block search %}{% endblock %}

		<div class="container py-5">
			<h2 class="title-shadow text-uppercase font-weight-bold ">
				<span class="title-content">Les annonces</span>
			</h2>
		</div>
	</div>
{% endblock %}
