@import "variables.scss";
@import "homepage.scss";

.bloc-contact{
  background-color: $contact;
}

#bloc-contact{
  background: $contact;
  padding-bottom: 60px;
}

.contact-line-title {
  &:before{
    content: "";
    float: left;
    height: 100px;
    width: 100%;
    transform: translateY(-30px) skewY(-2deg);
    background-color: $contact;
  }
}
