.bloc-contact {
  background-color: $contact;
  height:600px;
  padding-bottom: 20px;
  margin-bottom: -50px;
}

.contact-line-title {
  @include skewLines($contact);
  margin-top: 100px;
  background: $contact;
}
