.bloc-contact{
  background-color: $contact;
}

#bloc-contact{
  background: $contact;
  padding-bottom: 120px;
}

.contact-line-title {
  &:before{
    content: "";
    float: left;
    height: 100px;
    width: 100%;
    transform: translateY(-50px) skewY(-3deg);
    background-color: $contact;
  }
}
