* {
  border-radius: 0px !important;
}
* body{
  background-image: url("/assets/images/memphis-mini.png");
}

html {
  scroll-behavior: smooth;
}

body {
  .font-bold, .font-medium, .font-regular, .font-light {
    font-family: $fontOswald;
    &.font-bold {
      font-weight: 700!important;
    }
    &.font-medium {
      font-weight: 500!important;
    }
    &.font-regular {
      font-weight: 400!important;
    }
    &.font-light {
      font-weight: 300!important;
    }
  }
}

.page-link {
  border-radius: 0px !important;
}

.form-control {
  border-radius: 0px !important;
}
