@import "variables.scss";

.bloc-article{
  background-color: $article;
}

#bloc-article{
  background: $article;
  margin-bottom: 80px;
  padding-bottom: 40px;
  &:before{
    content: "";
    float: left;
    height: 100px;
    width: 100%;
    transform: translateY(-35px) skewY(-2deg);
    background-color: $article;
  }
  &:after{
    content: "";
    float: left;
    height: 100px;
    width: 100%;
    transform: translateY(-15px) skewY(-2deg);
    background-color: $article;
  }
}

/* #article-bas{
  &:before{
    content: "";
    float: left;
    height: 100px;
    width: 100%;
    transform: translateY(-120px) skewY(-2deg);
    background-color: $article;
  }
} */