@import "variables";

$breakpoints: (
        "small": 576px,
        "medium": 768px,
        "large": 992px,
);

@mixin media-xsmall($_key) {
  @media screen and (max-width: map-get($breakpoints, $_key)) {
    @content;
  }
}

@mixin media-small($_key) {
  @media screen and (max-width: map-get($breakpoints, $_key)) {
     @content;
  }
}
@mixin media-medium($_key) {
  @media screen and (max-width: map-get($breakpoints, $_key)) {
    @content;
  }
}
@mixin media-large($_key) {
  @media screen and (min-width: map-get($breakpoints, $_key)) {
  @content;
  }
}

.bloc-title{
  background-color: $main;
}

.memphis-background{
  background-image: url('../images/memphis-mini.png');
}

.skew-line-title {
  &:after {
    content: "";
    float: left;
    height: 100px;
    width: 100%;
    transform: translateY(-50px) skewY(-2deg);
    background-color: $main;
  }
}

.secondary-title{
  text-transform: uppercase;
}

@include media-large("large") {
  .main-title{
    font-size: 9em;
  }
  .secondary-title{
    font-size: 3em;
  }
};

@include media-medium("large") {
  .main-title{
    font-size: 6em;
  }
  .secondary-title{
     font-size: 2em;
   }
};

@include media-small("medium") {
  .main-title{
    font-size: 4em;
  }
  .secondary-title{
    font-size: 1.5em;
  }
};

@include media-xsmall("small"){
  .main-title{
    font-size: 3em;
  }
  .secondary-title{
    font-size: 1em;
  }
};

