#bloc-artists{
  background: transparent;
  padding-bottom: 40px;
}
.artist-image{
  opacity: 75%;
  &:hover{
    opacity: 100%;
  }
}
.artist-name{
  position: absolute;
  bottom: 0;
  left: 0;
}
.img-container{
  overflow: hidden!important;
  max-height: 200px;

}


