@import "variables.scss";

@mixin skewLines($color){
  &:before{
    content: "";
    float: left;
    height: 100px;
    width: 100%;
    transform: translateY(-35px) skewY(-2deg);
    background-color: $color;
  }
  &:after {
    content: "";
    float: left;
    height: 100px;
    width: 100%;
    transform: translateY(-15px) skewY(-2deg);
    background-color: $color;
  }
}

.bloc-article{
  background-color: $article;
}

#bloc-article{
  background: $article;
  margin-bottom: 80px;
  padding-bottom: 40px;
  @include skewLines($article);
}