@mixin skewLines($color){
  &:before{
    content: "";
    float: left;
    height: 100px;
    width: 100%;
    transform: translateY(-50px) skewY(-3deg);
    background-color: $color;
  }
  &:after {
    content: "";
    float: left;
    height: 100px;
    width: 100%;
    transform: translateY(-10px) skewY(-3deg);
    background-color: $color;
  }
}

@mixin highLight($color){
    background: linear-gradient(180deg, rgba(0,0,0,0) 42%, $color 42%);
    padding-bottom: 6px;
    display: inline;
    object-fit: fill;
}

@mixin spanHighlight(){
  margin-right: 20px;
  margin-left: -20px;
}
