.zoom-parent {
  overflow: hidden;
  height: 400px;
  width: 320px;
  &hover{
    .zoom-child {
      &before {
        display: block;
      }
    }
  }
  &focus {
    .zoom-child {
      &before {
        display: block;
      }
    }
  }
}


.zoom-child {
  max-width: 300px;
  max-height: 300px;
  object-fit: contain; 
  transition: all .5s;
  &before {
  display: block;
  }
  &:hover {
    transform: scale(1.2);
    animation-timing-function: ease-in-out;
  }
}
