.bloc-title {
  background-color: $main;
}

.memphis-background {
  background-image: url('../images/memphis-mini.png');
}

.skew-line-title {
  &:after {
    content: "";
    float: left;
    height: 100px;
    width: 100%;
    transform: translateY(-50px) skewY(-3deg);
    background-color: $main;
  }
}

.white-title {
  color:white;
}
.secondary-title {
  text-transform: uppercase;
}

