.block-mail.card {
    max-height: 700px;
    overflow-x: auto;
}

.cursor-pointer:hover {
    cursor: pointer;
}
.newModal-trigger:hover {
    cursor: pointer;
}
.card-announcement {
    min-height: 60vh;
}

.letter-circle {
    height: 40px;
    width: 40px;
    object-fit: cover;
}

.btn-profil{
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
}
