{% extends '@EasyAdmin/page/content.html.twig' %}
{% block content %}
    <div class="container text-white bg-dark mt-5">
    <img id='logo-navbar' class='text-center' src="{{ asset('build/logo.png') }}" alt="logo arts d'eko" width="100px">
        <h1 class="text-white">Bienvenue sur votre panneau d'administration</h1>
        <p> Dans cet espace, vous pourrez :</p>
        <ul>
            <li>Avoir une vue d'ensemble des utilisateurs</li>
            <li>Ajouter, modifier ou supprimer des artistes inscrit.e.s</li>
            <li>Ajouter, modifier ou supprimer des évènements</li>
            <li>Ajouter, modifier ou supprimer des annonces de recherche d'artistes</li>
            <li>Définir des catégories & sous-catégories d'artistes</li>
            <li>Définir des catégories et sous-catégories d'actualités</li>
            <li>Consulter les messages du formulaire de contact à destination de l'association</li>
            <li>Répondre aux messages reçus</li>
        </ul>
        <p>Bonne utilisation :)</p>
    </div>
{% endblock %}
