<footer id="footer">
    <div class="container-fluid">
        <div class="row bg-dark justify-content-end align-items-center text-white pt-4 pb-4">
            <div class="col-sm-6 col-md-4 item">
                <ul>
                    <h5>Association ARTS D'EKO</h5>
                    <li class="pb-3">Association de jeunes talents engagé.e.s</li>
                    <h5 class="pb-3">ADRESSE</h5>
                    <li>46 RUE DE LEYBARDIE</li>
                    <li>33300 BORDEAUX</li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-4 item">
                <ul>
                    <h5 class="pb-2">E-MAIL</h5>
                    <li class="pb-3">artsdeko@protonmail.com</li>
                    <h5 class="pb-2">TÉLÉPHONE</h5>
                    <li>0033 (0)6 25 78 97 75</li>
                </ul>
            </div>
            <div class="col-sm-6 col-md-4 item">
                <ul>
                    <h5 class="pb-3">SUIVEZ-NOUS</h5>
                    <li><a href="https://www.facebook.com/artsdko/" target="_blank"><i class="fab fa-facebook fa-2x fa-spin pr-4"></i></a>
                        <a href="https://www.instagram.com/arts.deko/?hl=fr" target="_blank"><i class="fab fa-instagram fa-2x fa-spin pr-5"></i></a>
                        <a href="https://www.linkedin.com/company/arts-deko"><i class="fab fa-linkedin-in fa-2x fa-spin"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
