<div class="skew pt-5">
	<footer class="footer ">
		<div class="container text-white pt-5">
			<div class="row pb-5">
				<div class="col-md-4 mt-5">
					<ul>
						<li class="font-weight-bold pt-3 border-top">Contact</li>
						<li class="text-uppercase pt-3">arts d'éko</li>
						<li>Association de jeunes artistes engagé·e·s</li>
						<li class="text-uppercase pt-3">centre oreag / la rêverie</li>
						<li>233 Rue St Genès, 33 000 Bordeaux</li>
					</ul>
				</div>
				<div class="col-md-4 mt-5">
					<ul>
						<li class="font-weight-bold pt-3 border-top">Nous suivre</li>
						<li class="pt-3">
							<a href="https://www.facebook.com/artsdko/" target="_blank">Facebook</a>
						</li>
						<li>
							<a href="https://www.instagram.com/arts.deko/" target="_blank">Instagram</a>
						</li>
						<li>
							<a href="https://www.linkedin.com/company/arts-deko/" target="_blank">Linkedin</a>
						</li>
					</ul>
				</div>
				<div class="col-md-4 mt-5">
					<ul>
						<li class="font-weight-bold pt-3 border-top">Mentions Légales</li>
						<li class="pt-3"><a href="#my-modal" data-toggle="modal">Politique de confidentialité</a></li>
						<div class="modal fade" id="my-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-body text-dark text-justify">
										1. Renseignements personnels recueillis
										<br>
										<br>
										Lorsqu’un(e) artiste s’inscrit sur le site et complète son profil, nous recueillons les renseignements  personnels que vous nous fournissez. La plupart des champs seront publics, sauf l’adresse e-mail,  le numéro de téléphone et l’adresse, qui ne sont visible que par Arts d’Éko. Lorsque vous naviguez  sur notre site, nous recevons également automatiquement l’adresse de protocole Internet (adresse
										IP) de votre ordinateur, qui nous permet d’obtenir plus de détails au sujet du navigateur et du  système d’exploitation que vous utilisez.
										<br>
										<br>
										2. Consentement
										<br>
										<br>
										Comment obtenez-vous mon consentement?
										Lorsque vous nous fournissez vos renseignements personnels lors de l’inscription, nous  présumons que vous consentez à ce que nous recueillions vos renseignements et à ce que nous  les utilisions à cette fin uniquement.
										Si nous vous demandons de nous fournir vos renseignements personnels pour une autre raison, à  des fins de marketing par exemple, nous vous demanderons directement votre consentement  explicite, ou nous vous donnerons la possibilité de refuser.
										Comment puis-je retirer mon consentement? Si après nous avoir donné votre consentement, vous  changez d’avis et ne consentez plus à ce que nous puissions vous contacter, recueillir vos  renseignements ou les divulguer, vous pouvez nous en aviser en nous contactant à  artsdeko@protonmail.com.
										<br>
										<br>
										3. Divulgation
										<br>
										<br>
										Nous pouvons divulguer vos renseignements personnels si la loi nous oblige à le faire.
										<br>
										<br>
										4. Services fournis par des tiers. De manière générale, les fournisseurs tiers que nous utilisons  vont uniquement recueillir, utiliser et divulguer vos renseignements dans la mesure du nécessaire  pour pouvoir réaliser les services qu’ils nous fournissent.
										<br>
										<br>
										En ce qui concerne ces fournisseurs, nous vous recommandons de lire attentivement leurs  politiques de confidentialité pour que vous puissiez comprendre la manière dont ils traiteront vos  renseignements personnels.
										<br>
										<br>
										Il ne faut pas oublier que certains fournisseurs peuvent être situés ou avoir des installations  situées dans une juridiction différente de la vôtre ou de la nôtre. Donc si vous décidez de  poursuivre une transaction qui requiert les services d’un fournisseur tiers, vos renseignements  pourraient alors être régis par les lois de la juridiction dans laquelle ce fournisseur se situe ou  celles de la juridiction dans laquelle ses installations sont situées.
										<br>
										<br>
										À titre d’exemple, si vous êtes situé au Canada et que votre transaction est traitée par une  passerelle de paiement située aux États-Unis, les renseignements vous appartenant qui ont été  utilisés pour conclure la transaction pourraient être divulgués en vertu de la législation des États Unis, y compris le Patriot Act.
										Une fois que vous quittez le site ou que vous êtes redirigé vers le site web ou l’application d’un  tiers, vous n’êtes plus régi par la présente Politique de Confidentialité de notre site web.
										<br>
										<br>
										Vous pourriez être amené à quitter notre site web en cliquant sur certains liens présents sur notre  site. Nous n’assumons aucune responsabilité quant aux pratiques de confidentialité exercées par  ces autres sites et vous recommandons de lire attentivement leurs politiques de confidentialité.
										<br>
										<br>
										5. Liens hypertextes et cookies
										<br>
										<br>
										Le site contient un certain nombre de liens hypertextes vers d’autres sites, mis en place avec  l’autorisation d’Arts d’Éko. Cependant, l’association n’a pas la possibilité de vérifier le contenu des
										sites ainsi visités, et n’assumera en conséquence aucune responsabilité de ce fait. La navigation  sur le site est susceptible de provoquer l’installation de cookie(s) sur l’ordinateur de l’utilisateur. Un  cookie est un fichier de petite taille, qui ne permet pas l’identification de l’utilisateur, mais qui  enregistre des informations relatives à la navigation d’un ordinateur sur un site. Les données ainsi  obtenues visent à faciliter la navigation ultérieure sur le site, et ont également vocation à permettre  diverses mesures de fréquentation. Le refus d’installation d’un cookie peut entraîner l’impossibilité  d’accéder à certains services. L’utilisateur peut toutefois configurer son ordinateur de la manière  suivante, pour refuser l’installation des cookies : Sous Internet Explorer : onglet outil (pictogramme  en forme de rouage en haut a droite) / options internet. Cliquez sur Confidentialité et choisissez  Bloquer tous les cookies. Validez sur Ok. Sous Firefox : en haut de la fenêtre du navigateur,  cliquez sur le bouton Firefox, puis aller dans l’onglet Options. Cliquer sur l’onglet Vie privée. Paramétrez les Règles de conservation sur : utiliser les paramètres personnalisés pour l’historique.  Enfin décochez-la pour désactiver les cookies. Sous Safari : Cliquez en haut à droite du navigateur  sur le pictogramme de menu (symbolisé par un rouage). Sélectionnez Paramètres. Cliquez sur  Afficher les paramètres avancés. Dans la section “Confidentialité”, cliquez sur Paramètres de  contenu. Dans la section “Cookies”, vous pouvez bloquer les cookies. Sous Chrome : Cliquez en  haut à droite du navigateur sur le pictogramme de menu (symbolisé par trois lignes horizontales).  Sélectionnez Paramètres. Cliquez sur Afficher les paramètres avancés. Dans la section  “Confidentialité”, cliquez sur préférences. Dans l’onglet “Confidentialité”, vous pouvez bloquer les  cookies.
										<br>
										<br>
										6. Sécurité
										<br>
										<br>
										Pour protéger vos données personnelles, nous prenons des précautions raisonnables et suivons  les meilleures pratiques de l’industrie pour nous assurer qu’elles ne soient pas perdues,  détournées, consultées, divulguées, modifiées ou détruites de manière inappropriée.
										<br>
										<br>
										7. Modifications apportées à la présente politique de confidentialité
										<br>
										<br>
										Nous nous réservons le droit de modifier la présente politique de confidentialité à tout moment,  donc veuillez s’il vous plait la consulter fréquemment. Les changements et les clarifications  prendront effet immédiatement après leur publication sur le site web. Si nous apportons des  changements au contenu de cette politique, nous vous aviserons ici qu’elle a été mise à jour, pour  que vous sachiez quels renseignements nous recueillons, la manière dont nous les utilisons, et  dans quelles circonstances nous les divulguons, s’il y a lieu de le faire.
										<br>
										<br>
										QUESTIONS ET COORDONNÉES
										<br>
										<br>
										Si vous souhaitez: accéder à, corriger, modifier ou supprimer toute information personnelle que  nous avons à votre sujet, déposer une plainte, ou si vous souhaitez simplement avoir plus  d’informations, contactez notre agent responsable des normes de confidentialité à  artsdeko@protonmail.com.
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-outline-secondary rounded-0" data-dismiss="modal">Fermer</button>
									</div>
								</div>
							</div>
						</div>
					</ul>
				</div>
			</div>
			<div class="row justify-content-center pt-5 pb-5">
				<div class="col-lg-6">
					<ul>
						<li>Designé par
							<a href="https://instagram.com/lucie.picon" target="_blank" class="font-weight-bold">Arts D'Éko</a>
							Développé avec <i class="far fa-heart text-danger"></i> par
							<a href="https://www.wildcodeschool.com/fr-FR" target="_blank" class="font-weight-bold">Les Wilders</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
</div>

