<div class="skew">
	<footer class="footer ">
		<div class="container text-white">
			<div class="row pb-5">
				<div class="col-md-4">
					<ul>
						<li class="font-weight-bold pt-3 border-top">Contact</li>
						<li class="text-uppercase pt-3">arts d'éko</li>
						<li>Association de jeunes artistes engagé.e.s</li>
						<li class="text-uppercase pt-3">centre oreag / la rêverie</li>
						<li>233 Rue St Genès, 33 000 Bordeaux</li>
					</ul>
				</div>
				<div class="col-md-4">
					<ul>
						<li class="font-weight-bold pt-3 border-top">Nous suivre</li>
						<li class="pt-3">
							<a href="https://www.facebook.com/artsdko/" target="_blank">Facebook</a>
						</li>
						<li>
							<a href="https://www.instagram.com/arts.deko/" target="_blank">Instagram</a>
						</li>
						<li>
							<a href="https://www.linkedin.com/company/arts-deko/" target="_blank">Linkedin</a>
						</li>
					</ul>
				</div>
				<div class="col-md-4">
					<ul>
						<li class="font-weight-bold pt-3 border-top">Mentions Légales</li>
						<li class="pt-3">Politique de confidentialité</li>
					</ul>
				</div>
			</div>
			<div class="row justify-content-center pt-5 pb-5">
				<div class="col-lg-6">
					<ul>
						<li>Designé par
							<a href="https://www.linkedin.com/in/lucie-picon/" target="_blank" class="font-weight-bold">Lucie Picon</a>
							Développé avec <i class="far fa-heart text-danger"></i> par
							<a href="https://www.wildcodeschool.com/fr-FR" target="_blank" class="font-weight-bold">Les Wilders</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
</div>
