<div id="about-them" class="mt-5 pt-5">
    <div class="container">
        <h2 class="font-weight-bold text-uppercase title-shadow">
            <span class="title-content ">On parle d'eux</span>
        </h2>
        <div class="d-flex justify-content-around flex-wrap py-5 ">
            <a href="#"><img class="mb-4" src="https://picsum.photos/320/400?random=5" alt=""></a>
            <a href="#"><img class="mb-4"src="https://picsum.photos/320/400?random=6" alt=""></a>
            <a href="#"><img src="https://picsum.photos/320/400?random=7" alt=""></a>
        </div>
    </div>
</div>