<div id="about-them" class=" mt-5 ">
    <div class="container">
        <h2 class="font-weight-bold">On parle d'eux</h2>
        <div class="d-flex justify-content-around flex-wrap py-5 ">
            <a href="#"><img class="mb-4" src="https://picsum.photos/320/400" alt=""></a>
            <a href="#"><img class="mb-4"src="https://picsum.photos/320/400" alt=""></a>
            <a href="#"><img src="https://picsum.photos/320/400" alt=""></a>
        </div>
    </div>
</div>