<div id="bloc-article" class="bloc-article mt-5 ">
    <div class="container">
        <h2 class="bloc-article font-weight-bold">Ils parlent de nous</h2>
        <div class="d-flex justify-content-around flex-wrap py-5 bloc-article">
            <a href="#"><img class="mb-4" src="https://picsum.photos/320/400" alt=""></a>
            <a href="#"><img class="mb-4"src="https://picsum.photos/320/400" alt=""></a>
            <a href="#"><img src="https://picsum.photos/320/400" alt=""></a>
        </div>
    </div>
</div>
