<div id="bloc-article" class="bloc-article ">
    <div class="container">
        <h2 class="bloc-article font-weight-bold title-shadow text-uppercase">
            <span class="title-content">Ils parlent de nous</span>
        </h2>
        <div class="d-flex justify-content-around flex-wrap py-5 bloc-article">
            <a href="#"><img class="mb-4" src="https://picsum.photos/320/400?random=2" alt=""></a>
            <a href="#"><img class="mb-4"src="https://picsum.photos/320/400?random=3" alt=""></a>
            <a href="#"><img src="https://picsum.photos/320/400?random=4" alt=""></a>
        </div>
    </div>
</div>
