<div class="container">
    <h1 class="mt-5">Recherche</h1>
    <div class="mt-5">
        {% form_theme form 'bootstrap_4_layout.html.twig' %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_errors(form) }}
        <input type='submit' value='ENVOYER'>
        {{ form_end(form) }}
    </div>
</div>