<form method="post" action="{{ path('message_read', {'id': message.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('read' ~ message.id) }}">
    <button class="btn rounded-0"><i class="far fa-bookmark"></i></button>
</form>